{% extends 'main/header.html' %}

{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




<section class="details-card">
    <div class="container">
        <div class="row">
              {% for cat in categories %}
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="https://c4.wallpaperflare.com/wallpaper/873/975/781/python-programming-minimalism-grey-technology-hd-wallpaper-preview.jpg" alt="">
                        <span><h4>{{cat.tutorial_category}}</h4></span>
                    </div>
                    <div class="card-desc">
                        <h3>{{cat.category_summary}}</h3>
                            <a href="{{cat.category_slug}}" class="btn-card">Read</a>
                    </div>
                </div>
            </div>
              {% endfor %}
            </div>
            </div>
</section>


{% endblock %}